// Variables
@import 'helper';


.pdf-header {
  font-family: Arial, Helvetica, sans-serif;;
  width: 100%;
  border-bottom: solid 1px #000;
  vertical-align: middle;
}

.pdf-header .head-logo {
  width: 50%;
  text-align: left;
}

.company-logo {
  width: 50px !important;
  max-width: 100px;
}

.pdf-header .head-company {
  width: 50%;
  text-align: right;
  vertical-align: bottom;
}

.company-name {
  text-align: right;
  font-size: 16px
}

.pdf-header .head-company .address {
  text-align: right;
  font-size: 11px;
}

.pdf-footer {
  font-family: Arial, Helvetica, sans-serif;;
  border-top: 1px solid #000000;
  vertical-align: bottom;
  color: #000088;
  width: 100%;
}

.pdf-footer .page-no {
  text-align: right;
  font-size: 11px;
}


.title-4 {
  font-family: Arial, Helvetica, sans-serif;;
  font-size: 12px;
  font-weight: bold;
  color: #2a3f54;
  margin-bottom: -1px;
}

.content-table {
  font-family: Arial, Helvetica, sans-serif;;
  width: 100%;
  border: solid 1px #ddd;
  border-collapse: collapse;
  border-spacing: 0;
}

.content-table thead th {
  background-color: #2a3f54;
  border: solid 1px #ddd;
  color: #FFF;
  padding: 4px;
  text-align: center;
  font-size: 9px !important;
}

.content-table tbody td {
  border: solid 1px #ddd;
  color: #333;
  padding: 4px;
  font-size: 10px !important;
}

.content-table tbody .even {
  background-color: #F2F2F2;
}

.table-pos {
  font-family: "Calibri";
  width: 100%;
  border-spacing: 0;
  font-size: 10px;
  font-weight: bold;
}

.table-pos tbody td {
  border: 1px #000000;
  color: #000000;
  padding: 4px;
  font-size: 10px !important;
}

.table-info {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 10px;
  vertical-align: top;
}

.table-signature {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 13px;
  margin-bottom: 7px;
}

.pdf-date-label {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 10px !important;
}

.barcode {
  padding: 1.5mm;
  margin: 0;
  vertical-align: top;
  color: #A00000;
}

.barcodecell {
  text-align: left;
  vertical-align: middle;
  float: left;
}


.tbl-info {
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: top;
}

.col-lg {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.col-md {
  width: 48%;
  padding-right: 5px;
  padding-left: 5px;
}

.col-sm {
  width: 32%;
  padding-right: 5px;
  padding-left: 5px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
.table-bordered > tr > td {
  border: 1px solid #ddd;
}
